/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom LTR direction for specific elements, if needed */
.direction-ltr {
  direction: ltr;
}

/* Base styles for dark mode transition */
html.dark {
  background-color: #1a202c; /* Dark background */
  color: #e2e8f0; /* Light text */
}

/* Ensure smooth transition for background and text color */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
